body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

}

header {
    height: 58px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    
}

.header-logo   {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 950;
    margin-left: 400px;
}
ul  {
    list-style-type:  none;
    margin: 0;
    padding: 0;
    display: flex;
    gap:  24px;
    margin-right: 400px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    padding-bottom: 24px;
}

.hero-title {
    color:  #f9faf8;
    font-size: 48px;
    font-weight: 1000;
    margin-bottom: 0;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 500px;
}

.img-placeholder {
    background-color:#5b6469;
    color:#e5e7eb;
    font-size: 18px;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    padding:  5px 18px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10%;
    border-color: #3882f6;
    font-size: 14px;
    font-weight: 700;
}
.information {
    width: 100%;
    height: 40vh;
    padding: 36px;
}

.info-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f2937;
    gap: 48px;
}

.img {
    border: 3px solid #3882f6;
    border-radius: 10%;
    width:   150px;
    height: 150px;
}

.info  {
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
    text-align: center;
}

.quote  {
    width: 100%;
    height: 30vh;
    padding: 36px;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 36px 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotee {
    font-size: 24px;
    color: #1f2937;
    font-weight: 800;
    display: flex;
    justify-content: right;
    margin-right: 600px;
}

.sign-up-banner {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-box {
    background-color: #3882f6;
    border-radius: 1rem;
    width: 700px;
    height: 14vh;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  16px  64px;
}

.banner-title {
    font-size: 24px;
    font-weight: 800;
}

.banner-button {
    color: #f9faf8;
    border: 1px solid #f9faf8;
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 10%;
    padding:  5px  20px;

}
footer {
    background-color: #1f2937;
    color: #e5e7eb;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  auto;
}